build/*
!build/.gitkeep
!build/kaartenheld.gb
!build/kaartenheld_debug.gb
*.o
*.map
*.sym
!build/kaartenheld.sym
!build/kaartenheld_debug.sym
*.noi
*.lst
*.ihx
*.cdb
__pycache__/
*.pyc
generated/
node_modules/
tools/level_editor/dist/
